/*Media query */
@media only screen and (max-width: 767px) {
    .card{
        width:100%;
    }
    .productCardAdd
    {
        margin-top: 5vh;
        background-color: #D7E3BF !important;
    
    }
    
    .productCard
    {
        margin-top: 5vh;
    }

    .fa-plus {
        padding: 0%;
        margin: 0%;
        font-size: 20vh !important ;
        color: white;
        text-align: center;
    }

  }

/* CSS */
.container-fluid {
    display: inline-block !important;
}

.content
{
    margin-top: 15vh;
    display: inline-block;
    height: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 767px) {
.card {
    width: 30% !important;
}

.productCardAdd
{
    height: 30vh;
    margin-top: 5vh;
    margin-left: 2.5vw;
    background-color: #D7E3BF !important;
    float: left;
}

.productCard
{
    height: max-content;
    margin-left: 2.5vw;
    margin-top: 5vh;
    float: left;
}

.fa-plus {
    padding: 0%;
    margin: 0%;
    font-size: 30vh !important ;
    color: white;
    text-align: center;
}
}

.productCard {
    transition: background-color ease-in 5s;
}

.productCard:hover, .productCardAdd:hover {
    box-shadow: 10px 10px 10px gray;
}



.exampleModalCenter
{
    margin-top: 5vh;
    background-color: #D7E3BF !important;
}

.modal-body{
    padding: 2.5rem !important;
}
.modal-content{
    background-color:#D7E3BF !important ;
}

#header{
    height: 25vh;
    background-image: url("../Image/bgonly2.png");
    background-repeat: repeat;
    margin-bottom: -12vh;
}
#image{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
