/* CSS */
.content
{
    display: block;
    margin-top: 15vh;
}

.productCardAdd
{
    height: 30vh;
    margin: 10vh;
    background-color: #D7E3BF !important;

}

.productCard
{
    height: 30vh;
    margin: 10vh;

}

.fa-plus {
    font-size: 15rem !important;
    color: white;
    text-align: center;
}