/* CSS */
.content
{
    margin-top: 15vh;
    display: inline-block;
    height: 100%;
    display: flex;
    justify-content: center;
}

.productCardAdd
{
    margin-top: 5vh;
    height: 30vh;
    background-color: #D7E3BF !important;
    float: left;

}

.productCard
{
    height: 30vh;
    margin-left: 2vw;
    margin-top: 5vh;
    float: left;

}

.productCard:hover, .productCardAdd:hover {
    box-shadow: 10px 10px 10px gray;
    margin-top: 6vh;
}

.fa-plus {
    padding: 0%;
    margin: 0%;
    font-size: 13rem !important;
    color: white;
    text-align: center;
}

.exampleModalCenter
{
    margin-top: 5vh;
    background-color: #D7E3BF !important;
}